@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }

  .montName,
  ul {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 28px;
  }

  .montName,
  ul {
    font-size: 18px;
  }

  header {
    padding: 1px 15px;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
