$primary-gradient: linear-gradient(
  180deg,
  rgba(212, 161, 122, 0.8) 0%,
  rgba(196, 78, 24, 0.8) 100%
);
$background-color: #f0e68c;
$font-family-primary: 'Times New Roman', Times, serif;
$border-radius: 6px;
